@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --fontTitle: "Roboto Slab";
    --fontText: "Roboto";

    --main: #7b9acc;
    --main-hover: #77abff;
    --bg: #FCF6F5;
    --h1: #7b9acc;
    --h2: #666666;
    --shadow: #7b9acc33;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }

    :root {
        --main: linear-gradient(22deg, #ff758f, #c9184a);
        --main2: linear-gradient(22deg, #00b4d8, #0077b6);
        --main3: linear-gradient(22deg, #00b4d8, #00b4d8);
        --bg: #f7e2f4;
        --main-hover: #CD2C6C;
        --h1: #000000;
        --h2: #333333;
        --shadow: #f7cff1;
    }
}

* {
    padding: 0;
    margin: 0;
}

*:focus {
    outline: none;
}

html,
body {
    overflow-x: hidden;
}

body {
    background: var(--bg);
}

.container {
    display: flex;
    flex-wrap: nowrap;
}

.intro-container {
    width: 40%;
    padding: 5rem;
}

.calc-container {
    width: 60%;
    display: flex;
    justify-content: center;
    padding: 4rem 0 4rem 0;
}

@media (max-width: 1340px) {
    .container {
        flex-wrap: wrap;
    }

    .calc-container,
    .intro-container {
        min-width: 100%;
    }
}

.keybinds ul {
    list-style: none;
    padding-left: 2rem;
}

.keybinds li {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    font-family: var(--fontText);
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.6rem;
    color: black;
}

.keybinds .key {
    display: inline-block;
    min-width: 6rem;
    padding: 0.3rem 0.8rem;
    margin-right: 1rem;
    background: var(--main);
    border-radius: 0.2rem;
    font-family: var(--fontTitle);
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    color: white;
}

.keybinds .smallkey {
    min-width: 1rem;
}

.mainCalc {
    background: var(--main2);
    border: solid 0.3rem #ffffff;
    border-radius: 2rem;
    width: 40%;
    padding: 1rem;
    text-align: center;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.26);
    font-family: var(--fontText);
    color: var(--h2);
    overflow: hidden;
}

.btn-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.numButtons {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
}

.actButtons {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
}

/* ---------------------------------------------------------------- INPUT */

input {
    border: none;
    border-bottom: 4px solid #a1c4fd;
    /* Cor de destaque */
    font-family: 'Helvetica Neue', Arial, sans-serif;
    /* Fonte moderna e limpa */
    font-size: 1.5rem;
    font-weight: 500;
    transition: .1s ease-out;
    padding: 1rem;
    border-radius: 10px;
    /* Bordas arredondadas */
    color: #333;
    /* Cor do texto */
    width: 90%;
    height: 2.5rem;
    /* Ajuste da altura */
    margin-top: 12px;
    margin-bottom: 24px;
    background: linear-gradient(135deg, #ffffff, #e0e0e0);
    /* Gradiente suave */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    /* Sombra suave */
    outline: none;
    /* Remover a borda ao focar */
}

input:focus {
    border-bottom: 4px solid #76c7f0;
    /* Cor de destaque ao focar */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    /* Sombra mais forte ao focar */
}

/* ---------------------------------------------------------------- BUTTON */

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    background: var(--main3);
    color: white;
    font-family: var(--fontText);
    font-size: 2.5rem;
    font-weight: 500;
    transition: .2s ease-out;
    text-decoration: none;
    width: 4rem;
    height: 4.4rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 0.2rem;
}

.btn:hover {
    background: linear-gradient(135deg, #5ab3f0, #82b4fc);
}

.btn:active {
    background: linear-gradient(135deg, #4ca1f0, #76c7f0);
    animation: press .1s;
}

.h1 {
    font-family: var(--fontTitle);
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    color: var(--h1);
    margin: 2rem 0.5rem 2rem 0.5rem;
}

.h2 {
    font-family: var(--fontText);
    font-size: 1rem;
    font-weight: 300;
    text-align: justify;
    line-height: 1.6rem;
    color: var(--h2);
    margin: 1rem 0 2rem 0;
}

.footer {
    text-align: center;
    margin: 4rem 0 0 0;
    padding: 1.2rem;
    background: var(--shadow);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.icon {
    width: 2.5rem;
    height: 2.5rem;
    margin: 0.6rem;
}

:disabled,
:disabled:hover {
    opacity: 0.3;
    cursor: not-allowed;
}

/* ---------------------------------------------------------------- ANIMATION */

@keyframes press {

    0% {
        transform: scale(0.95);
    }

    100% {
        transform: scale(1);
    }
}

.press {
    animation-name: press;
    animation-duration: .1s;
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateX(-200px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.slide {
    animation-name: slide;
    animation-duration: 1s;
}

@keyframes spin {
    0% {
        transform: rotate3d(1, 0, 0, 0deg);
    }

    100% {
        transform: rotate3d(1, 0, 0, 360deg);
    }
}

.spin {
    animation-name: spin;
    animation-duration: .5s;
}